{% extends 'base.html.twig' %}

{% block title %}TodoList!
{% endblock %}

{% block body %}


	<div class="container">

		<div class="row bg-dark p-2">
			<div class="d-flex">
				<h3 class="text-white me-2" style="max-width: 320px">
					<u>TODO LIST</u>
				</h3>
				<a style="min-width: 120px;" class="btn btn-sm btn-warning me-1" href="{{path('orderBy_todo', {orderByCreation: 'newiest'})}}">{{'leplusrecent'|trans}}</a>

				<a style="min-width: 120px;" class="btn btn-sm btn-light me-1" href="{{path('orderBy_todo', {orderByCreation: 'oldiest'})}}">{{'leplusancien'|trans}}</a>

				<a style="min-width: 120px;" class="btn btn-sm btn-info me-1" href="{{path('orderBy_todo', {orderByCreation: 'dueNewiest'})}}">{{'nonurgent'|trans}}</a>

				<a style="min-width: 120px;" class="btn btn-sm btn-danger me-1" href="{{path('orderBy_todo', {orderByCreation: 'dueOldiest'})}}">{{'urgent'|trans}}</a>

			</div>
		</div>

		<div class="row p-5">
			{% set color = 'null' %}
			<h4>
				Number of Task Done:
				<span class="checks">{{checks}}</span>
				/
				{{todoLength}}

			</h4>

			{% for todo in todos %}
				{% if app.user %}
					{% if date(todo.dueDate) < date() %}
						{% set color = 'bg-warning' %}
					{% else %}
						{% set color = 'none' %}

					{% endif %}
					<div class="col-4 m-1 ">
						<div class="card border border-2 border-primary me-2 {{ color }} " style="width: 18rem;">
							<div class="card-body">
								<h4 class="card-title">To Do:
								</h4>
								{% if date(todo.dueDate) < date() %}
									<div class="bg-dark p-2">
										<h5 class="text-white text-center">OVER DUE!!!

										</h5>
									</div>
								{% endif %}
								<h5 class="text-decoration-none">{{ todo.description }}</h5>
								<p class="card-text">
									<small>
										do by:
										{{ todo.dueDate|date('d-m-Y') }}
									</small>
								</p>
								<p class="card-text">
									<small>
										Created on:
										{{ todo.createdAt|format_datetime() }}
									</small>
								</p>


								<a href="{{path('checked', {id: todo.id})}}" class="checked btn btn-primary btn-sm">
									{% if todo.getChecked %}
										done
									{% else %}
										not done
									{% endif %}

								</a>


								<a class="btn btn-sm btn-warning" href="{{path('edit_todo', {id: todo.id})}}">{{ 'modifier'|trans }}</a>
								<a class="btn btn-sm btn-danger" href="{{path('delete_todo', {id: todo.id})}}">{{ 'suppr'|trans }}</a>
							</div>
						</div>
					</div>

				{% endif %}
			{% endfor %}
			<div class="navigation">
				{{ knp_pagination_render(todos, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}

			</div>

		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script>


		function checkBtn() {
			event.preventDefault();
			// alert('coucou');
			const url = this.href;
			fetch(url).
			then(response => response.json()).
			then((data) =>{
				console.log(data);
				let msg = data.message == 'unchecked'? 'Not Done' : 'Done' ;
				this.innerHTML = msg;
				let checkCount = data.nombreDeChecks ;
				document.querySelector('.checks').innerHTML = checkCount;
			});
		}


		document.addEventListener('DOMContentLoaded', () => {
			const mesBTN = document.querySelectorAll('.checked');
			mesBTN.forEach((btn) => {
			btn.addEventListener('click', checkBtn)
			})
		})
	</script>
{% endblock %}
