<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{'bienvenue'|trans}}

			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																												           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<div class="row p-3">
				<div class="d-flex">
					<a href="{{path( app.request.get('_route'), app.request.get('_route_params')|merge({ '_locale': 'fr' }) )}}" class="btn btn-light me-2">French</a>
					<a href="{{path( app.request.get('_route'), app.request.get('_route_params')|merge({ '_locale': 'en' }) )}}" class="btn btn-dark me-2">English</a>


					{% if app.user %}
						<a href="{{path('logout')}}" class="btn btn-sm btn-warning me-1">{{'deconnexion'|trans}}</a>
						<a href="{{path('todo')}}" class="btn btn-sm btn-primary me-1">{{'pourfaire'|trans}}</a>
						<a href="{{path('add_todo')}}" class="btn btn-sm btn-secondary">{{'ajouterafaire'|trans}}</a>


					{% endif %}
				</div>
			</div>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
