{% extends 'base.html.twig' %}

{% block title %}
	{{"connexion"|trans}}
{% endblock %}

{# {% form_theme ****formNameHERE****** 'bootstrap_5_layout.html.twig' %} #}


{% block body %}
	<style></style>

	<div class="container">
		<div class="row m-5">
			<div class="col-6-md col-4-sm">
				<h3 class="text-center">{{"connexion"|trans}}</h3>

				<form
					action="" method="post">
					{# name #}
					<div class="form-group mt-2">
						<label class="me-3" for="_username">{{'identifiant'|trans}}</label><input type="text" id="_username" name="_username"></div>

					<div class="form-group mt-2">
						<label class="me-3" for="password">{{'mdp'|trans}}</label><input id="password" type="password" name="_password"></div>

					<div class="form-group mt-2">
						<button class="btn btn-success btn-sm mt-2" type="submit">{{"connexion"|trans}}</button>

					</div>
				</form>

				<a class="btn btn-primary btn-sm mt-2" href="{{path('register')}}">{{'inscrire'|trans}}</a>


			</div>
		</div>
	</div>
{% endblock %}
